* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 1250px;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five,
.row-six {
  display: flex;
  justify-content: space-around;
}

body {
  background-image: url(./img/background.jpg);
}

.row-one {
  background-color: #ededed;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  width: 1250px;
  height: 250px;
}

button {
  height: 250px;
  width: 250px;
  font-size: 100px;
  border: none;
}

/* .input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  text-align: end;
  background-color: #ededed;
  border: 1px solid grey;
} */
