* {
  margin: 0;
  padding: 0;
  font-family: "Abel";
  /* border: 1px solid red; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./img/background.jpg);
  background-size: cover;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 1400px;
  gap: 20px;
  padding: 40px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.02);
  border-radius: 80px;
  backdrop-filter: blur(5px) saturate(140%);
  filter: drop-shadow(10px 10px 10px #424252);
  -webkit-backdrop-filter: blur(5px) saturate(140%);
  box-shadow: inset 0px 0px 10px 10px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five,
.row-six {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row-one {
  justify-self: center;
  align-self: center;
  background-color: #00000010;
  width: 95%;
  height: 250px;
  border-radius: 70px;
  box-shadow: inset 0px 0px 8px 8px rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 80px;
  display: flex;
  flex-direction: column;
}

.row-one p {
  margin-right: 35px;
}

.row-two {
  height: 225px;
  align-items: center;
}

.row-two button {
  width: 275px;
  height: 200px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.storage-input {
  /* border: 2px solid red; */
  text-align: right;
  height: 128.6px;
  /* margin-top: 20px; */
}

.input .storage {
  /* border: 2px solid red; */
  font-size: 80px;
  color: #d7d7d7b0;
  display: inline-block;
  margin-top: 20px;
  margin-right: 22px;
}

.input .input-field {
  /* border: 2px solid red; */
  margin-top: 20px;
  align-self: flex-end;
  height: 128.6px;
  display: inline-block;
  float: right;
}

.input .sub-text {
  align-self: flex-end;
  height: 128.6px;
  color: rgb(255, 189, 189);
  text-align: center;
  margin-bottom: 20px;
}

button {
  height: 250px;
  width: 250px;
  font-size: 100px;
  border: none;
  border-radius: 30%;
  background-color: #00000010;
  color: white;

  box-shadow: inset 0px 0px 8px 8px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.16);
  border: 3px solid white;
  transform: scale(0.95);
}

/* .input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 500px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  text-align: end;
  background-color: #ededed;
  border: 1px solid grey;
} */
